{% extends 'base.html.twig' %}

{% block title %}Register - SymfoShop{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h4 class="mb-0">
                        <i class="bi bi-person-plus"></i> Create Account
                    </h4>
                </div>
                <div class="card-body">
                    {{ form_start(registrationForm) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form_label(registrationForm.firstName) }}
                                    {{ form_widget(registrationForm.firstName) }}
                                    {{ form_errors(registrationForm.firstName) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form_label(registrationForm.lastName) }}
                                    {{ form_widget(registrationForm.lastName) }}
                                    {{ form_errors(registrationForm.lastName) }}
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(registrationForm.email) }}
                            {{ form_widget(registrationForm.email) }}
                            {{ form_errors(registrationForm.email) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(registrationForm.phone) }}
                            {{ form_widget(registrationForm.phone) }}
                            {{ form_errors(registrationForm.phone) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(registrationForm.plainPassword) }}
                            {{ form_widget(registrationForm.plainPassword) }}
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>

                        <div class="mb-3 form-check">
                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_errors(registrationForm.agreeTerms) }}
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-person-plus"></i> Create Account
                            </button>
                        </div>
                    {{ form_end(registrationForm) }}

                    <hr class="my-4">

                    <div class="text-center">
                        <p class="mb-0">Already have an account?</p>
                        <a href="{{ path('app_login') }}" class="btn btn-outline-primary">
                            <i class="bi bi-box-arrow-in-right"></i> Sign In
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 